POSTGRES_USER=vozilo
POSTGRES_PASSWORD=vozilo
POSTGRES_DB=vozilo
DATABASE_URL=postgresql://vozilo:vozilo@postgres:5432/vozilo?schema=public
REDIS_URL=redis://redis:6379
MINIO_ROOT_USER=vozilo
MINIO_ROOT_PASSWORD=vozilo123
MINIO_ENDPOINT=minio
MINIO_PORT=9000
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
NEXT_PUBLIC_API_URL=http://localhost:3001
FRONTEND_ORIGIN=http://localhost:3000
FRONTEND_BIND_IP=0.0.0.0
FRONTEND_PORT=3000
BACKEND_BIND_IP=0.0.0.0
BACKEND_PORT=3001
POSTGRES_BIND_IP=0.0.0.0
POSTGRES_PORT=5432
REDIS_BIND_IP=0.0.0.0
REDIS_PORT=6379
MINIO_BIND_IP=0.0.0.0
MINIO_PORT_PUBLIC=9000
MINIO_CONSOLE_BIND_IP=0.0.0.0
MINIO_CONSOLE_PORT=9001
